<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Nick Tucci">

    <title>Phoenix Blog</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
  </head>

  <body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle Nav</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<%= page_path(@conn, :index) %>">Phoenix Blog</a>
                </div>

                <div class="collapse navbar-collapse" id="main-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="<%= page_path(@conn, :index) %>">Home</a></li>
                        <%= if Plug.Conn.get_session(@conn, :authenticated) do %>
                            <li><a href="<%= post_path(@conn, :new) %>">New Post</a></li>
                            <li><a href="#"><%= Plug.Conn.get_session(@conn, :username) %></a></li>
                            <li><a href="<%= user_path(@conn, :logout) %>">Logout</a></li>
                        <% else %>
                            <li><a href="<%= user_path(@conn, :signup) %>">Sign Up</a></li>
                            <li><a href="<%= user_path(@conn, :login) %>">Login</a></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="main-container">
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
            <%= render @view_module, @view_template, assigns %>
        </div>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
